
<nav class="breadcrumb" role="navigation" aria-label="breadcrumbs">
  <a href="#" class="active" data-breadcrumb-step-1>
    <span>{{ 'cart.breadcrumb.order' | t }}</span>
  </a>
  <span><i class="icon-delimiter"><span class="visually-hidden"></span></i></span>
  <a href="#" data-breadcrumb-step-2>
    <span>{{ 'cart.breadcrumb.collect' | t }}</span>
  </a>
  <span><i class="icon-delimiter"><span class="visually-hidden"></span></i></span>
  <a href="#" data-breadcrumb-step-3 class="disabled">
    <span>{{ 'cart.breadcrumb.pay' | t }}</span>
  </a>
</nav>
